/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none;color:black;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #000; margin:1em 0; padding:0; clear:both}
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #000000; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: black; }


ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #87D100; color:#fff; text-shadow: none; }
::selection { background:#87D100; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #000; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Orry
 */

body {
	background-color:#EAEAEA;
}

/* the overlayed element */
.overlay {
	
	position:absolute;
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 50px 5px #000;
	-webkit-box-shadow: 0 0 50px #000;	
}

/* close button positioned on upper right corner */
.overlay .close {
	position:absolute;
	right:0px;
	top:-18px;
	cursor:pointer; 
	color:#A7D356;
}
.overlay img {
border: solid white 5px;
}

#overlay-info {
	background-color:white;
	color:#FFFFFF;
	margin-top:-3px;
	height:20px;
	padding:10px;
}

#overlay-info a:hover{
color:#A7D356;
}

.pattern {
	background-image:url('/images/dot-pattern-half.png');
	width:100%;
	height:100%;
	position:fixed;
	top:0;
}

#top-container {
	background-color:black;
	display:block;
	height:280px;
	color:white;
	width:100%;
	display:none;
	
}

.noshadow {
	text-shadow:none;
}


#about {
	width:600px;
	margin:0 auto;
	position:relative;
}


#main {
	width:600px;
	margin:0 auto;
	position:relative;
}

 nav {
	float:right;
	background-color:#EAEAEA;
	margin:10px 0 10px 0;
}

 nav ul {
	padding:10px;
}

 nav li {
	display:inline;
	padding:10px;
}

 nav li a:hover {
	background-color:#DDDDDD;
	color:black;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 
 nav li a {
	padding:5px;
 }
 
#logo {
	position:relative;
	float:left;
} 

h1 {
	font-family: 'Lobster', arial, serif;
	font-size:90px; 
	width: 470px;
	text-shadow: 2px 2px 0px #fff,
				 3px 3px 0px #000,
				 5px 5px 0px #fff;
}

h1:hover {
	 color: #ACE248;
}

h2 {
	font-family: 'BebasNeueRegular',arial,serif;
    font-size: 58px;
    margin:-32px 0 0 165px;
	text-shadow: 1px 1px 0px #fff,
				 2px 2px 0px #000,
				 3px 3px 0px #fff;
	color: #ACE248;
}

h3 {
	font-family: 'Lobster', arial, serif;
	font-size:48px;
	float:left;
	text-shadow: 2px 2px 0px #fff;
}

#white-bar {
	background-color: white;
    height: 60px;
    position: absolute;
    top: 20px;
    width: 600px;
    z-index: -1;
}

#about img {
    border: 10px solid white;
    float: right;
    width: 265px;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?iefix') format('eot'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#webfontj1CI1MAi') format('svg');
    font-weight: normal;
    font-style: normal;

}

#portfolio ul#nav {
	background-color: #EAEAEA;
    float: right;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 380px;
}

#portfolio ul#nav li {
	font-family: 'BebasNeueRegular',arial,serif;
    font-size: 22px;
	display:inline; 
	padding:0px 15px;
	color:#000;
}

#portfolio ul#video li {
	background-color: white;
    height: 310px;
    margin: 15px;
    width: 270px;
	float:left;
	list-style:none;
	-webkit-box-shadow: 2px 2px 3px #666;
	-moz-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
}

#portfolio ul#video li img {
	width:93%;
	margin:10px;
}

#portfolio ul#nav li a {
    font-size: 23px;
    padding: 2px 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

#portfolio ul#nav li a:hover {
	background-color:#DDDDDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:black !important;
}

#portfolio ul#video {
	clear:left;
}

#video li h2 {
	font-family: georgia, serif;
	font-size:13px;
	color: #000;
	margin: 0 0 0 10px;
	text-shadow:none;
}

#video li h3 {
	font-family: georgia, serif;
	font-size:12px;
	color: #AAA;
	margin: 0 0 0 10px;
	text-shadow:none;
}

#video li a:hover h2 {
	color:#A7D356;
} 

.selected a {
	color:black !important;
	background-color:#ACE248;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

.selected a:hover {
	color:black !important;
	background-color:#ACE248!important;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

#about #info {
	clear: left;
    float: left;
    width: 600px;
	margin: 10px 0 0;
}

#about p {
line-height:20px;
}

#about #info h4{
	font-family:'BebasNeueRegular',arial,serif;
	font-size:30px;
	color: #99E806;
	
}

#about a {
	color:#A7D356;
	
}

#about a:hover {
	color:black;
	background-color:#A7D356;
}

#anchor {
position:absolute;
top:0px;
}

 #contact nav {
	float:right;
	background-color:#A7D356;
	margin:10px 0 10px 0;
}

 nav ul {
	padding:10px;
}

 nav li {
	display:inline;
	padding:10px;
}

 nav li a:hover {
	background-color:#DDDDDD;
	color:black;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 
 nav li a {
	padding:5px;
	
 }

#contact-container {
	background-color:#A7D356;
	display:block;
	height:600px;
	width:100%;
	
}

label.error {
	position: absolute;
	color: #A1A1A1;
	top: 47px;
	right: 20px;
	font-weight: bold;
	text-align:right;
	width:188px;
	cursor:default;
}

#contact {
	width:600px;
	margin:0 auto;
	position:relative;
}

#contact nav li a:hover {
background-color:#BCE26A;
}

#contact form {
	clear:left;
	margin: 10px 0 30px;
	float:left;
	
}

#contact form div {
	position:relative;
}

#contact form p {
	font-family: 'BebasNeueRegular',arial,serif;
	font-size:30px;
	margin: 10px 0 0;
	text-shadow: 1px 1px 0 #FFFFFF;
}

#contact form input {
	width:280px;
	height:30px;
	border: 3px solid #DDDDDD;
	background-color:#F6FFE8;
	 
}

#contact form input:focus {
	border: 3px solid #ACE248;
	outline:none;
}

#contact form textarea:focus {
	border: 3px solid #ACE248;
	outline:none;
}

#contact form textarea {
	 border: 3px solid #DDDDDD;
    max-height: 200px;
    max-width: 280px;
    min-height: 200px;
    min-width: 280px;
	background-color:#F6FFE8;
}

#contact form input.submit {
	width:100px;
	margin: 20px 0 0;
	border: 3px solid #ACE248;
}

#contact-info {
	background-color: #A7D356;
    border: 3px solid white;
    float: right;
    height: 370px;
    margin-top: 57px;
    width: 289px
}

#contact-info h3 {
	font-family: 'BebasNeueRegular',arial,serif;
	font-size:30px;
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 20px 0 0 10px;
}

#contact-info img {
float:left;
margin: 10px 0 0 10px;
}

#contact-info span {
	float:left;
	margin: 16px 0 0 10px;
}

#contact-info p {
	clear: both;
    font-size: 14px;
	padding: 10px;
}

footer div{ 
	width:600px;
	margin:0 auto;
	position:relative;
	padding:10px 0;
	
}

footer {
    background-color: #6A8439;
    color: #ACE248;
    height: 35px;
}

footer p span {
	float:right;
	font-size:10px;
}


@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) {  
  
}

@media screen and (max-device-width: 480px) {
	
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

