/* Custom CSS for UnderratedGames
===============================================================*/
 

 /* Remove 'readers' and change to 'Gamers' */
.titlebox span.word { 
	display: none 
} 
.titlebox span.number:after { 
	content: " Gamers" 
} 
.flair-quote { 
	border: 0; 
	background: transparent url(http://e.thumbs.redditmedia.com/nfztHH91TvF-78zL.png) center center no-repeat; 
	height: 64px; 
	width: 64px; 
	text-indent: -9999px 
}

body {
	
}