/* #Reset
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
		
/* Basic Styles
================================================== */
	body { 
		
		font: 14px 'Open Sans', sans-serif;
		font-weight:600;
		color: #FFF; 
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: none;
 }
	
/* Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { 
		font-family: 'KomikaTitle-PaintRegular', sans-serif;
	}
	
	h3 {
		font-size: 40px;
		margin:60px 0;
		text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
		-moz-text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
	}

	p { margin: 0; }
	
	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }


/*	Links  */
	
	a, a:visited { color: #FFF; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #FFF; cursor: pointer; }
	p a, p a:visited { line-height: inherit; }

/* Font-Face
================================================== */
	@font-face {
	    font-family: 'DigitaldreamFatRegular';
	    src: url('/CSSOFF/fonts/digitaldreamfat-webfont.eot');
	    src: url('/CSSOFF/fonts/digitaldreamfat-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/CSSOFF/fonts/digitaldreamfat-webfont.woff') format('woff'),
	         url('/CSSOFF/fonts/digitaldreamfat-webfont.ttf') format('truetype'),
	         url('/CSSOFF/fonts/digitaldreamfat-webfont.svg#DigitaldreamFatRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'KomikaTitle-PaintRegular';
	    src: url('/CSSOFF/fonts/komikatitle-paint-webfont.eot');
	    src: url('/CSSOFF/fonts/komikatitle-paint-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/CSSOFF/fonts/komikatitle-paint-webfont.woff') format('woff'),
	         url('/CSSOFF/fonts/komikatitle-paint-webfont.ttf') format('truetype'),
	         url('/CSSOFF/fonts/komikatitle-paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}

/* Links
================================================== */
	
	

/* List
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* Main Styles
================================================== */
.orange {background-color:#fe6638; background-image:url('/CSSOFF/images/orange-texture.png');}
.green {background-color:#80b238; background-image:url('/CSSOFF/images/green-texture.png');}
.blue {background-color: #80c1d6; background-image:url('/CSSOFF/images/blue-texture.png');}
.yellow {background-color:#eef13f; background-image:url('/CSSOFF/images/yellow-texture.png');}

nav {
	position:fixed;
	left:50%;
	margin-left:-480px;
	text-align: center;
	z-index: 100;
	
}

nav ul {
	padding:8px 0;
}

nav ul li{
	display: inline;
	padding:0 25px;
	font-size: 18px;
}

#nav-bkg {
	height:32px;
	background-color:#000;
	position:fixed;
	top:0;
	width:100%;
	opacity:.05;
}

#title {
	height:712px;
	text-align: center;
	background-image: url('/CSSOFF/images/splash-big.png');
	background-position-x: center;
	background-repeat: no-repeat;
	background-position-y:-220px;
}

#title img {
	margin:36px auto 40px;
}

#title h2 {
	color:#fe6537;
	font-size:52px;
	text-shadow: 3px 3px 0 #FFF;
	margin-bottom:20px;
}

#title p {
	font-size: 22px;
}


#obstacles {
	height:940px;
	
}

#prizes {
	height:1045px;
	
}

#be-a-contestant {
	height:1000px;
	
}
				
/* Forms
================================================== */

/* Misc
================================================== */
.hide {
	text-indent: -9999px;
}

::selection {background-color:#fe6638;}
::-moz-selection {background-color:#fe6638;}

/* Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	




		
	