html {
  height: 100%;
}
body {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}
textarea {
  width: 100%;
  margin: 0 auto 50px;
  height: 85%;
  border-radius: 4px;
  border: 1px solid #292828;
  box-shadow: 0 1px #807F7F;
  background: #3B3D38;
}
.grid {
  height: 100%;
  overflow: scroll-y;
  padding: 20px 30px;
  position: relative;
}
.grid.code-side {
  background: #3F3F3F;
  border-right: 1px solid #181818;
  background-image: url('../img/noise.png');
  height: 100%;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}
.grid.code-side form {
  height: 100%;
  margin: 0;
}
.grid.code-side form .input-area {
  height: 50%;
  margin-bottom: 20px;
}
.grid.code-side h2 {
  color: #303030;
  text-shadow: 0 -1px #666464;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}
.output {
  border-left: 1px solid #fff;
  padding: 0px 0 20px 0;
  overflow: hidden;
}
.output iframe {
  border: none;
  width: 100%;
  height: 100%;
}
#toggle-code {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #F13737;
  padding: 7px 15px;
  color: white;
  margin: 0 0 0 -41px;
  border: 1px dashed white;
  box-shadow: 0 0 0 2px #f13737, 0px -2px 6px 2px rgba(0, 0, 0, 0.18);
  text-shadow: 0px -1px #750d0d;
  text-transform: uppercase;
}
#toggle-code:hover {
  text-decoration: none;
}
.CodeMirror {
  overflow: visible;
  height: 90%;
}
.CodeMirror-scroll {
  border-radius: 4px;
  border: 1px solid #292828;
  box-shadow: 0 1px #636262;
  background: #252524;
  height: 100%;
}
#header {
  background-color: #252525;
  padding: 3px 10px;
  color: white;
  font-size: 10px;
  text-align: right;
  border-bottom: 1px solid #4E4E4E;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.4);
}
